public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*

public-hoist-pattern[]=*@remax*
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*regenerator-runtime*

#shamefully-hoist=true
